{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ super() }} - update{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Update Profile</h1>
</div>

<div class="page-body">
	<form method="POST">
		{{ form.hidden_tag() }}
		{{ render_field(form.username, type='text', class='form-control') }}
		{{ render_field(form.email, type='email', class='form-control') }}
		{{ render_field(form.self_description, type='text', class='form-control', rows='4') }}
		{{ render_field(form.role, class='form-control') }}

		<div class="form-group form-check">
			 {{ form.confirmed(class='form-check-input') }} {{ form.confirmed.label(class='form-check-label') }}
		</div>

		{{ form.submit(class='btn btn-primary') }}
	</form>
</div>

<div align="center">
    <a class="btn btn-primary" href="{{ url_for('user.new_password', id=user.id) }}">New Password</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
        Delete Account
    </button>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">WARNING</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                You're about to delete the account of {{ user.username }}.
                This change is permanent!
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ url_for('user.delete_user', id=user.id) }}">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
