{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ super() }} - update{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Update Profile</h1>
</div>

<div class="page-body">
	<form method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ render_field(form.username, type='text', class='form-control') }}
		{{ render_field(form.self_description, type='text', class='form-control', rows='4') }}
        <input type="file" name="image">
		{{ form.submit(class='btn btn-primary', value='Upload') }}
	</form>
</div>
<div align="center">
    <a class="btn btn-primary" href="{{ url_for('user.new_password', id=current_user.id) }}">New Password</a>
</div>
{% endblock %}
