<div class="media p-3">
    <img src="{%if user.image_url == None %}../../static/user_placeholder.jpg{%
    else %}{{ user.image_url }}{% endif %}"
    class="mr-3 mt-3 rounded-circle" style="width: 120px; height: 120px;" alt="...">
    
    <div class="media-body">
        <a class="link amaranth" href="{{ url_for('user.user_info', username=user.username) }}">
            <h4 class="card-title">{{ user.username }}</h4>
        </a>
        <small><i>Member since: {{ moment(user.member_since).format('LL') }}</i></small>
        <hr>
        <p class="card-text">{{ user.self_description }}</p>
        {% if current_user.is_admin() %}
        <a class="btn btn-danger" href="{{ url_for('user.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        {% elif user == current_user %}
        <a href="{{ url_for('user.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
        {% endif %}
    </div>
</div>
