html, body {
	height: 100%;
}

.background {
	background-color: #F7CAC9; /*#a29180; old value*/
	min-height: 100vh;
}

.navbar {
	background-color: #F7CAC9; /*#eedfcc; */
    margin-bottom: 25px;
}


a.cyan {
	color: #00cccc;
}

a.cyan:visited {
	color: #00cccc;
}

a.cyan:hover {
	color: white;
	text-decoration: none;
}

a.cyan:active {
	color: #00cccc;
}

a.reversed-link {
	color: black;
}

a.reversed-link:hover {
	color: #00cccc;
	text-decoration: none;
}

button.search-button {
	background-color: #cd4f39;
	border: #cd4f39;
	color: white;
}

button.search-button:hover {
	background-color: white;
	border: #cd4f39;
	color: #cd4f39;
}

input.search-box {
    background-color: #F7CAC9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
}

input.search-box:focus {
	box-shadow: none;
    border: none;
    background-color: #F7CAC9;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #00ffff;
}


.footer {
	background-color: #F7CAC9;
	height: 120px;
}

.content {
	min-height: calc(100vh - 235px); /* used to stick the footer to the bottom */
}

.fa {
    font-size: 20px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

