html, body {
	height: 100%;
}

.background {
	background-color: #F7CAC9; /*#a29180; old value*/
	min-height: 100vh;
}

p, h1, h2, h3, h4, a, b, em, i, li, ol, pre, strong, ul {
    font-family: Georgia, serif;
}

.navbar {
	background-color: #F7CAC9; /*#eedfcc; */
    margin-bottom: 25px;
}


a.cyan {
	color: #00cccc;
}

a.cyan:visited {
	color: #00cccc;
}

a.cyan:hover {
	color: white;
	text-decoration: none;
}

a.cyan:active {
	color: #00cccc;
}

a.amaranth {
	color: #992347;
}

a.amaranth:visited {
	color: #992347;
}

a.amaranth:hover {
	color: white;
	text-decoration: none;
}

a.amaranth:active {
	color: white;
}


a.reversed-link {
	color: black;
}

a.reversed-link:hover {
	color: #992347;
	text-decoration: none;
}

button.search-button {
	background-color: #cd4f39;
	border: #cd4f39;
	color: white;
}

button.search-button:hover {
	background-color: white;
	border: #cd4f39;
	color: #cd4f39;
}

input.search-box {
    background-color: #F7CAC9;
    border: 2px solid #992347;
}

input.search-box:focus {
	box-shadow: none;
    background-color: #F7CAC9;
    border: 2px solid white;
}


.footer {
	background-color: #F7CAC9;
	height: 145px;
}

.content {
	min-height: calc(100vh - 375px); /* used to stick the footer to the bottom */
}

.fa {
    font-size: 20px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

