{% extends "sweetbootstrap.html" %}

{% block title %}Franzi Kocht{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='franzi.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
{% include "new_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container content">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ pagedown.include_pagedown() }}

<script>
    $(document).ready(function(){
        $(".nav-header").on('show.bs.collapse', function(){
            $(".navbar-toggler").html('<span id="toggler" class="fa fa-caret-up"></span>');
        });

        $(".nav-header").on('hide.bs.collapse', function(){
            $(".navbar-toggler").html('<span id="toggler" class="fa fa-caret-down"></span>');
        });
    });
</script>
{% endblock %}

