{% extends "sweetbootstrap.html" %}

{% block title %}WebApp{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}

<div class="container pb-3">
	<nav class="navbar navbar-light sticky-top shadow-sm">
		<a class="navbar-brand brand" href="{{ url_for('main.index') }}"><img src="/static/icon.svg" width="30" heigth="30" alt=""></a>

		<ul class="nav nav-pills nav-justified">
			<form class="form-inline" method="get" action="{{ url_for('main.index') }}">
			<input class="form-control mr-sm-2 search-box" type="search" placeholder="Search" name="search">
			<button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
		    </form>
		</ul>

		<ul class="nav navbar-right">
			{% if current_user.is_authenticated %}
			{% include "user_dropdown.html" %}
			{% endif %}
		</ul>
	</nav>

</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}{% endblock %}
</div>

<div class="container">
{% include "footer.html" %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

