<!-- Collapsed Info Section -->
<div id="navbarHeader" class="collapse show nav-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Yummy Easy Veggi</h4>
                <p>Meine vegetarischen und veganen Rezepte. Einfach und in weniger als einer Stunde fertig.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li>
                        <a  class="fa fa-instagram amaranth"
                            href="https://www.instagram.com/franzi.kocht/"
                            target="_blank"> Follow on Instagram</a></br>
                        <a class="fa fa-envelope-open-o amaranth" href="mailto: info@franzi-kocht.de"> info@franzi-kocht.de</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ./Collapsed Info Section -->
<!--Navbar -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index') }}">
            <!--<strong>Franzi Kocht</strong>-->
            <img src="/static/logos/franzi_simple.png" height="96" alt="Franzi">
        </a>

		<form class="my-3 my-md-0 mr-md-3 form-inline" method="get" action="{{ url_for('main.index') }}">
			<input class="form-control mr-sm-2 search-box fa" type="search" placeholder="Search" name="search">
		</form>

        {% if current_user.is_authenticated %}
            {% include "user_dropdown.html" %}
        {% endif %}

        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarHeader" 
                aria-controls="navbarHeader" aria-expanded="True" 
                aria-label="Toggle navigation">
            <span id="toggler" class="fa fa-caret-up"></span>
        </button>
    </div>
    <hr>
</nav>
<!--/.Navbar -->
