{% extends "base.html" %}

{% block title %}{{ super() }} - Posts{% endblock %}


{% block page_content %}
{% for post in posts %}
<div class="panel panel-default md-3" style="max-width: 540px;">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img src="..." class="panel-img" alt="...">
		</div>
		<div class="col-md-8">
			<div class="panel-body">
				<h5>Title</h5>
				<p>Content .................................................................................</p>
				<p><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

