<style>
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
</style>


<div class="dropdown">
	<a href="#" class="dropdown-toggle link" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		<strong>{{ current_user.username }}</strong>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</a>
	<div class="dropdown-menu dropdown-menu-right">
		<a href="{{ url_for('user.user_info', username=current_user.username) }}" class="dropdown-item">My Profile</a>
		<a href="{{ url_for('user.new_post') }}" class="dropdown-item">New Post</a>
		<div class="dropdown-divider"></div>
		<a href="{{ url_for('auth.logout') }}" class="dropdown-item">Log Out</a>
	</div>
</div>
