<style>
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
</style>


<li class="nav-item dropdown">
	<a href="#" class="dropdown-toggle link" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		<strong>{{ current_user.username }}</strong>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</a>
	<div class="dropdown-menu dropdown-menu-right">
        {% if current_user.is_admin() %}
		<a href="{{ url_for('user.admin') }}" class="dropdown-item">Administrate User</a>
        {% endif %}

		<a href="{{ url_for('user.user_info', username=current_user.username) }}" class="dropdown-item">My Profile</a>

		<a href="{{ url_for('user.new_post') }}" class="dropdown-item">New Post</a>

		{% if current_user.is_admin() %}
		<a href="{{ url_for('auth.register') }}" class="dropdown-item">Add User</a>
		{% endif %}

		<div class="dropdown-divider"></div>
		<a href="{{ url_for('auth.logout') }}" class="dropdown-item">Log Out</a>
	</div>
</li>
